<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="App_Educativa_Sobre_Animales.Properties.Settings.FENAHEConnectionString" connectionString="Data Source=desktop-2j7g32a;Initial Catalog=FENAHE;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="App_Educativa_Sobre_Animales.Properties.Settings.FENAHEConnectionString1" connectionString="Data Source=DESKTOP-6SBSS7S;Initial Catalog=FENAHE;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="App_Educativa_Sobre_Animales.Properties.Settings.LoginAccessConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Diego\Music\LoginAccess.mdb" providerName="System.Data.OleDb" />
        <add name="App_Educativa_Sobre_Animales.Properties.Settings.ConexionAccess" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Edwin\Documents\LoginAccess.mdb" providerName="System.Data.OleDb" />
        <add name="App_Educativa_Sobre_Animales.Properties.Settings.fenaheConnectionString2" connectionString="server=localhost;user id=edwin;password=1234;database=fenahe" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>